/*                                ______
    _____________________________/::'   \
   /:'   \::'    \::'    \::' _  \:' |   \
  /:' |   \'  -   \'    | \'    __\_     / n9! -- [ waybar ]
 +\___|___/_______/_______/_______/_____/------------------------------------------------------------------+
                                                                                                          */
                                                                                                          
@define-color blue          #89b4fa;
@define-color cyan          #64a8e2;
@define-color gray          #595959;
@define-color gray-light    #959595;
@define-color green         #a6e3a1;
@define-color flamingo      #f2cdcd;
@define-color lavender      #b4befe;
@define-color maroon        #eba0ac;
@define-color mauve         #cba6f7;
@define-color orange        #ff9961;
@define-color peach         #fab387;
@define-color pink          #ff97d3;
@define-color pink-light    #f5c2e7;
@define-color purple        #1D192D;
@define-color purple-light  #6d5da9;
@define-color red           #f38ba8;
@define-color rosewater     #f5e0dc;
@define-color sapphire      #74c7ec;
@define-color sky           #89dceb;
@define-color teal          #94e2d5;
@define-color yellow        #f9e2af;
@define-color white         #efefef;
@define-color clock         #322b4e;

/* Main
*******************************************/
* {
    padding: 0px;
    box-shadow: none;
    font-family: "Roboto", "FontAwesome 6 Free", "MaterialDesign-Font", "SF Compact Rounded";
    text-shadow: none;
    transition-duration: 0s;
}
#waybar {
    min-width: 400px;
    color: #a2a2a2;
    background: none;
}
#custom-end-right-wb {
    background-image: linear-gradient(#272737, #434b63);
    padding-left: 5px;
    border-right: 1px solid @purple-light;
    border-top-right-radius: 18px;
}
#custom-end-left-wb {
    background-image: linear-gradient(#272737, #434b63);
    padding-left: 10px;
    border-left: 1px solid @purple-light;
    border-bottom-left-radius: 18px;
}

/* Modules
*******************************************/
.modules-left {
    padding-right: 10px;
    background-image: linear-gradient(#12141a, #2f3345);
    border: 3px solid @purple-light;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    
}
.modules-right {
    padding-left: 15px;
    /*background-image: linear-gradient(#0d0e13, #252836);*/
    background-image: linear-gradient(#12141a, #2f3345);
    border: 3px solid @purple-light;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

/* Modules: Left
*******************************************/
#group-power {
    padding-right: 10px;
    background-image: linear-gradient(#272737, #434b63);
    border-top-right-radius: 18px;
    border-right: 3px solid @purple-light;
}
#submap,
#custom-wlogout,
#custom-power-shutdown,
#custom-power-restart,
#custom-power-logout {
    color: #7d88a8;
    font-size: 24px;
}
#submap {
    font-size: 19px;
    padding: 2px 13px 0px;
}
#custom-wlogout {
    color: #a5a5a5;
    padding: 2px 9px 0px 0px;
}
#submap:hover,
#custom-power-shutdown:hover,
#custom-power-restart:hover,
#custom-power-logout:hover {
    color: @cyan;
}
#workspaces {
    padding: 2px 12px 0 10px;
    background-image: linear-gradient(#1f1f2c, #343a4d);
    border-right: 3px solid @purple-light;
    border-bottom-right-radius: 18px;
}
#workspaces button {
    color: @white;
    padding: 4px 10px 0px 7px;
    font-size: 26px;
}
#workspaces button.focused {
    color: @yellow;
}
#workspaces button.visible {
    color: @cyan;
}
#workspaces button.urgent {
    color: @tan;
}
#workspaces button:hover {
    background: @purple-light;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;  
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.85, 1, 0.2, 1);
}
#window {
    color: #969696;
    padding: 5px 14px 0px 10px;
    font-size: 22px;
    font-weight: bold;
}

/* Seperators
*******************************************/
#custom-sep1 {
    color: @orange;
    padding: 4px 8px 0 24px;
    font-size: 22px;
}

/* Modules: Center
*******************************************/
#cava {
    border: 1px solid @rosewater;
}
#mpd {

}

/* Modules: Right
*******************************************/
/* Taskbar
----------------------*/
#taskbar {
    padding: 3px 5px 0 0;
}
#taskbar button {
    padding: 10px;
}
#custom-taskbar-button {
    color: #969bb7;
    font-size: 22px;
    padding: 6px 10px 0 0;
}

/* Group 
----------------------*/
#systray-clock {
    background-image: linear-gradient(#1f1f2c, #343a4d);
    border-left: 3px solid @purple-light;
    border-bottom-left-radius: 18px;
}

/* Systray-Clock Modules 
----------------------*/
#custom-vert,
#pulseaudio-slider,
#network,
#bluetooth,
#battery,
#memory,
#backlight,
#custom-notification,
#pulseaudio,
#clock {
    font-size: 22px;
    padding: 5px 18px 0px 0px;
}
#custom-vert {
    font-size: 18px;
    color: #cdd6f4;
}
#network {
    padding-top: 2px;
    padding-left: 16px;
}
#network.wifi {
    color: @cyan;
}
#bluetooth {
    color: @teal;
    padding-right: 22px;
    font-size: 20px;
}
#bluetooth.connected,
#bluetooth.disabled,
#bluetooth.off {
}
#backlight {
    color: @lavender;
}
#battery {
    padding-right: 14px;
}
#battery.full {
    color: @green;
}
#battery.good,
#battery.charging,
#battery.plugged {
    color: @green;
}
#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}
#battery.plugged {
    color: @green;
}
#memory {
    color: @pink;
    padding-right: 14px;
}
#pulseaudio {
    color: @teal;
}
#pulseaudio-slider slider {
    background-color: #acb6c8;
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 80px;
    min-width: 10px;
    border-radius: 5px;
    background-color: #495c8e;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 20px;
}
#pulseaudio-slider trough, #backlight-slider trough {
    min-height: 10px;
    min-width: 100px;
}
#custom-audio_idle_inhibitor {
    color: @yellow;
    font-size: 22px;
    padding-top:5px;
    padding-right:20px;
}
#custom-notification {
    color: @pink;
    padding-right: 30px;
    background-color: transparent;
    font-size: 30px;
}
#clock {
    color: @white;
    padding: 5px 8px 0px 18px;
    background-image: linear-gradient(#272737, #434b63);
    letter-spacing: 1px;
    border-left: 3px solid @purple-light;
    border-bottom-left-radius: 16px;
}

/* Tooltip
*******************************************/
tooltip {
    background-color: #343a4d;
    background-image: linear-gradient(#272737, #434b63);
    border: 1px solid @sapphire;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
}
tooltip label {
    color: @rosewater;
    padding: 15px;
}
