[Desktop Entry]
Exec=kitty -- /home/upgrad3/.n9-scripts/n9-nzbget.sh start
Type=Application
Categories=Utilities
Name=Nzbget (Start-Daemon)
Icon=nzbget