/*
 Purple =       2A2341
 Purple-Light = 50437F
 Orange =       FF8542
 */

@define-color green         #55d45d;
@define-color purple        #1D192D;
@define-color purple-light  #50437F;
@define-color purple-lightr #bbb4d7;
@define-color off-white     #b3b3b3;
@define-color orange        #FF8542;
@define-color purple-dark   #604da7;
@define-color red           #d73c30;
@define-color tan           #b88f74;
@define-color white         #aeaeae;
@define-color yellow        #f7f955;

@define-color clock         #322b4e;

/* Main
*******************************************/
* {
    border:        none;
    border-radius: 0;
    font-family:   "Roboto", "FontAwesome 6 Free", "MaterialDesign-Font";
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    padding: 0px;
}
#waybar {
    color: @off-white;
    background-color: @purple;
    border: 2px solid @purple-light;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
#waybar.solo {
    color: #b3b3b3;
}

/* Modules Left
*******************************************/
#workspaces {
    margin-right: 5px;
}
#workspaces button {
    font-size: 23px;
    padding: 0px 10px 0px 7px;
    color: @white;
}
#workspaces button.focused {
    color: @off-white;
}
#workspaces button.visible {
    color: @orange;
}
#workspaces button.urgent {
    color: @tan;
}
#workspaces button:hover {
    background: @purple-light;
    border-top: 1px solid @purple-light;
    border-bottom: 1px solid @purple-light;
    /*border-radius: 16px;*/
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;  
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.85, 1, 0.2, 1);
}
#window {
    font-size: 18px;
    font-family: "Poppins";
    color: @off-white;
    border-radius: 10px;
    padding: 3px 20px 0px 2px;
}

/* Seperators
*******************************************/
#custom-sep1 {
    color: @tan;
    font-size: 22px;
    padding-right: 10px;
}
/* Modules Right
*******************************************/
#network,
#bluetooth,
#battery,
#memory,
#backlight,
#pulseaudio,
#custom-notification,
#clock {
    font-size: 19px;
    padding: 0px 10px 0px 10px;
}
#network {
}
#network.wifi {
    color: @orange;
}
#bluetooth {
    font-size: 24px;
}
#battery.warning {
   color: @yellow;
   background-color: transparent;
}
#battery.critical {
    color: @red;
    background-color: transparent;
}
#battery.charging {
    color: @off-white;
}
#pulseaudio {
    padding-left: 2px;
}
#custom-notification {
    padding-right: 20px;
    background-color: @purple;
    border-top: 2px solid @purple-light;
    border-bottom: 2px solid @purple-light;
}
#clock {
    background-color: @clock;
    border: 2px solid @purple-light;
    border-left: 2px solid @purple-light;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding-right: 15px;
    padding-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Tooltip
*******************************************/
tooltip {
    background-color: @purple;
    border: 1px solid @purple-light;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
tooltip label {
    color: @tan;
    padding: 10px;
}
